@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&family=Roboto:wght@400;500&display=swap");
:root {
  --text_color: #54412D;
  --accent_color: #F25D27;
  --bg-50_color:rgba(247, 234, 232, 0.5);
  --grey_color: #F2DCD8;
  --text-accent_color: #485B30;
  --bg-btn_color: #97BF6F;
  --light_color: #F7EAE8;
  --input-text_color: #C69D70;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.none {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

input:hover, textarea:hover {
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 109rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text_color);
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.09;
  text-align: center;
  color: var(--text_color);
}

.accent__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.09;
  text-align: center;
  color: var(--accent_color);
}

.btn {
  font-family: 'Roboto';
  color: var(--text_color);
  background: var(--bg-btn_color);
  border: 1px solid #F7EAE8;
  border-radius: 3.5rem;
  -webkit-transition: color .2s linear, background-color .2s linear;
  transition: color .2s linear, background-color .2s linear;
}

.btn:hover {
  color: var(--light_color);
  background-color: var(--accent_color);
}

.flex-aic-jcsb, .header__wrap, .header__menu-list, .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-aic-jcc, .category__list, .category-page__list, .news-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ais-jcsb, .feedback__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-aic-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-aic, .hero__swiper-slide .slide__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jcc, .hero__swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column-jcsb, .news__content-left, .news__content-right, .news__content-opacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap-center-center, .news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.header__wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  max-width: 18rem;
  height: 5rem;
  z-index: 3;
}

.header__menu-list li + li {
  margin-left: 3rem;
}

.header__menu-list a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.42;
  color: var(--text_color);
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.header__menu-list a:hover {
  color: var(--accent_color);
}

.header__search form {
  position: relative;
  width: 100%;
}

.header__search input {
  background: var(--bg-50_color);
  border: 1px solid #F7EAE8;
  border-radius: 3.5rem;
  width: 28.8rem;
  padding: 0.5rem 1.5rem 0.5rem 4.1rem;
}

.header__search input::-webkit-input-placeholder {
  font-size: 1.2rem;
  line-height: 20px;
  color: var(--grey_color);
}

.header__search input:-ms-input-placeholder {
  font-size: 1.2rem;
  line-height: 20px;
  color: var(--grey_color);
}

.header__search input::-ms-input-placeholder {
  font-size: 1.2rem;
  line-height: 20px;
  color: var(--grey_color);
}

.header__search input::placeholder {
  font-size: 1.2rem;
  line-height: 20px;
  color: var(--grey_color);
}

.header__search button {
  width: 0;
  height: 0;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.header__search button::before {
  content: '';
  display: block;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background-image: url("../images/search.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header .burger__menu {
  display: none;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  margin-left: 7rem;
  z-index: 3;
}

.header .burger__menu span {
  display: block;
  width: 3rem;
  height: 0.4rem;
  background-color: var(--text_color);
  border-radius: 2rem;
}

.header .burger__menu span + span {
  margin-top: 0.7rem;
}

.hero {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.hero__swiper {
  max-width: 100%;
  padding-top: 3rem;
}

.hero__swiper-slide {
  position: relative;
  max-width: 45rem;
  max-height: 45rem;
  border-radius: 3.5rem;
  overflow: hidden;
  margin: 0 2rem;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  text-align: center;
}

.hero__swiper-slide .slide__title-wrap {
  position: absolute;
  left: 0;
  bottom: 4rem;
  max-width: 38.6rem;
  width: 100%;
  height: 8.5rem;
  background: var(--bg-50_color);
  border-radius: 0px 35px 35px 0px;
  padding: 1rem 3.5rem;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.hero__swiper-slide .slide__title {
  font-size: 2.4rem;
  line-height: 1.08;
  color: var(--text_color);
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  text-align: left;
}

.hero__swiper-slide:hover .slide__title, .hero__swiper-slide:hover .slide__title-wrap {
  background-color: var(--accent_color);
  color: var(--light_color);
}

.hero .swiper-slide-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__swiper-pagination {
  margin-top: 4.5rem;
}

.swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #F7EAE8;
  border-radius: 50%;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 0.5rem;
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #678C3B;
}

@media (max-width: 768px) {
  .hero__swiper-slide {
    width: 35rem;
    height: 35rem;
  }
  .hero .slide__title-wrap {
    max-width: 28rem;
    height: 7rem;
    padding: 1rem;
  }
  .hero .slide__title {
    font-size: 2rem;
    line-height: 1;
  }
}

@media (max-width: 576px) {
  .hero__swiper-slide {
    width: 25.7rem;
    height: 25.7rem;
    margin: 0 1.3rem;
  }
  .hero .slide__title-wrap {
    max-width: 19.8rem;
    height: 4.4rem;
    padding: 1rem;
  }
  .hero .slide__title {
    font-size: 1.6rem;
    line-height: 1;
  }
}

.category {
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.category__title {
  margin-bottom: 2.5rem;
}

.category__item {
  height: 26.5rem;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.category__item:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.category__item a {
  height: 100%;
  width: 100%;
}

.category__item-title {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.43;
  color: var(--text-accent_color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.category__item-bg {
  margin: 0 auto;
  border-radius: 3.5rem;
  max-width: 12.5rem;
  height: 20rem;
}

.category__item-img {
  position: relative;
  bottom: 125px;
}

@media (max-width: 1100px) {
  .category__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news {
  padding-top: 1rem;
  margin-bottom: 5rem;
}

.news__title {
  margin-bottom: 4.7rem;
}

.news__list {
  gap: 2.5rem;
}

.news__list li {
  position: relative;
  max-width: 24.5rem;
  height: 30rem;
  -webkit-transition: -webkit-filter .2s linear;
  transition: -webkit-filter .2s linear;
  transition: filter .2s linear;
  transition: filter .2s linear, -webkit-filter .2s linear;
}

.news__list li:hover {
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.news .big__item {
  max-width: 51.5rem;
}

.news__img {
  border-radius: 3.5rem;
}

.news__content-left, .news__content-right {
  position: absolute;
  background: var(--bg-50_color);
  max-width: 24.5rem;
  height: 30rem;
  padding: 2.6rem 0.2rem;
  text-align: center;
  border-radius: 3.5rem;
}

.news__content-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.news__content-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.news__content-opacity {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 24.5rem;
  height: 30rem;
  padding: 3.4rem 1.5rem 2.5rem;
  text-align: center;
  color: var(--light_color);
}

.news__content-title {
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
}

.news__content-desc {
  font-size: 1.5rem;
  line-height: 1.33;
}

.news__content-btn {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.33;
  padding: 0.3rem 4rem 0.2rem;
  max-width: 17.8rem;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .news .big__item {
    max-width: 27.5rem;
    max-height: 24.8rem;
  }
  .news__content-right, .news__content-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__list li {
    max-width: 27.5rem;
    max-height: 20.2rem;
    width: 100%;
  }
  .news__content-title {
    font-size: 1.5rem;
    line-height: 0.93;
  }
  .news__content-desc {
    font-size: 1.2rem;
    line-height: 1.17;
  }
  .news__content-opacity {
    max-width: 27.5rem;
    max-height: 20.2rem;
  }
  .news__content-btn {
    font-size: 1.2rem;
    line-height: 1.67;
    padding: 0.3rem 2.5rem 0.2rem;
  }
  .news__img {
    max-width: 27.5rem;
    width: 100%;
    height: 100%;
  }
  .news__content-left, .news__content-right {
    max-width: 27.5rem;
    height: 16.5rem;
  }
}

.footer {
  background-color: var(--text_color);
  padding-top: 3.8rem;
  padding-bottom: 4.3rem;
  font-size: 1.6rem;
  line-height: 1.25;
  color: var(--light_color);
}

.footer__wrap {
  gap: 1.5rem;
}

.footer__copy {
  max-width: 49.5rem;
}

.footer__info-box {
  margin-bottom: 1.7rem;
}

.footer__info-box a {
  display: inline;
}

.footer__info-box a + a {
  margin-left: 3.4rem;
}

.footer__link {
  display: block;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.footer__link:hover {
  color: var(--accent_color);
}

.footer a + a {
  margin-top: 1.7rem;
}

@media (max-width: 850px) {
  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__copy {
    margin: 0 auto;
  }
  .footer__info {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .footer {
    font-size: 1.2rem;
    line-height: 1.67;
  }
  .footer__info {
    margin: 0 auto;
  }
  .footer__link {
    text-align: center;
  }
}

.feedback {
  padding-top: 5rem;
  padding-bottom: 5.4rem;
}

.feedback__form-title {
  text-align-last: left;
  margin-bottom: 2rem;
}

.feedback__desc {
  line-height: 1.62;
  margin-bottom: 3rem;
}

.feedback__desc span {
  color: var(--accent_color);
}

.feedback__input, .feedback__textarea {
  background: var(--bg-50_color);
  border: 1px solid var(--light_color);
  border-radius: 3.5rem;
  padding: 0.5rem 2.7rem;
  max-width: 60.2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.feedback__input::-webkit-input-placeholder, .feedback__textarea::-webkit-input-placeholder {
  font-size: 1.2rem;
  line-height: 1.66;
  color: var(--input-text_color);
}

.feedback__input:-ms-input-placeholder, .feedback__textarea:-ms-input-placeholder {
  font-size: 1.2rem;
  line-height: 1.66;
  color: var(--input-text_color);
}

.feedback__input::-ms-input-placeholder, .feedback__textarea::-ms-input-placeholder {
  font-size: 1.2rem;
  line-height: 1.66;
  color: var(--input-text_color);
}

.feedback__input::placeholder, .feedback__textarea::placeholder {
  font-size: 1.2rem;
  line-height: 1.66;
  color: var(--input-text_color);
}

.feedback__textarea {
  resize: none;
  height: 27.5rem;
  padding: 2.9rem 2.7rem 2.5rem;
}

.feedback__form-desc {
  line-height: 1.62;
  max-width: 65.6rem;
  margin-bottom: 2.5rem;
}

.feedback__form-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.25;
  padding: 1.6rem 4.9rem 1.5rem;
  cursor: pointer;
}

.feedback__img {
  margin-top: 9rem;
}

@media (max-width: 768px) {
  .feedback__img {
    max-width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 576px) {
  .feedback__wrap {
    position: relative;
  }
  .feedback__img {
    position: absolute;
    top: -2.7rem;
    right: 0;
    max-width: 8.4rem;
    height: 8.4rem;
    margin-top: 0;
  }
}

.about {
  padding: 2.5rem 0;
}

.about__img {
  float: right;
  margin-top: -5rem;
}

.about__title {
  margin-bottom: 2rem;
  text-align-last: left;
}

.about__desc {
  line-height: 1.62;
  margin-bottom: 2rem;
}

@media (max-width: 1100px) {
  .about__img {
    max-width: 40rem;
    max-height: 30rem;
  }
}

@media (max-width: 700px) {
  .about__img {
    float: none;
    margin: -5rem auto 2rem;
  }
  .about__title {
    max-width: 27.4rem;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .about__img {
    width: 30rem;
    height: 25rem;
  }
}

.category-page {
  padding-top: 3rem;
  padding-bottom: 7.5rem;
}

.category-page__bg {
  position: relative;
  margin-bottom: 5rem;
  border-radius: 3.5rem;
}

.category-page__img {
  position: absolute;
  left: 13rem;
  bottom: 6rem;
}

.category-page__title {
  margin-bottom: 2.5rem;
}

.category-page__desc {
  margin-bottom: 2rem;
}

.category-page__list {
  gap: 5rem 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
}

.category-page__list li {
  position: relative;
  width: 20rem;
  height: 25rem;
}

.category-page__list img {
  border-radius: 3.5rem;
}

.category-page__list h4 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
  color: var(--light_color);
}

@media (max-width: 992px) {
  .category-page__bg {
    max-width: 70rem;
    width: 100%;
    max-height: 30rem;
    margin: 0 auto 4rem;
  }
  .category-page__img {
    left: 0;
    max-width: 30rem;
    max-height: 30rem;
  }
}

@media (max-width: 768px) {
  .category-page__bg {
    max-width: 50rem;
    max-height: 20rem;
  }
  .category-page__img {
    max-width: 20rem;
    max-height: 20rem;
  }
  .category-page__list {
    gap: 3rem 1rem;
  }
}

@media (max-width: 576px) {
  .category-page__img {
    max-width: 17.3rem;
    max-height: 17.3rem;
  }
}

.news-page {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

.news-page__item {
  position: relative;
  margin-bottom: 5.3rem;
}

.news-page__content {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--bg-50_color);
  border-radius: 3.5rem;
  max-width: 54rem;
  width: 100%;
  height: 100%;
}

.news-page__content-title {
  font-size: 2.4rem;
  line-height: 1.08;
  max-width: 30rem;
}

.news-page__desc {
  line-height: 1.62;
  margin-bottom: 2rem;
}

.news-page__title {
  font-size: 2.4rem;
  line-height: 1.08;
  color: var(--accent_color);
  margin-bottom: 2rem;
}

.news-page__list {
  padding-left: 2.5rem;
}

.news-page__list li {
  list-style: decimal;
  font-family: 'Roboto';
  line-height: 1.62;
  color: var(--accent_color);
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .news-page__item {
    max-height: 30rem;
  }
  .news-page__img {
    max-height: 30rem;
  }
  .news-page__content {
    max-width: 28rem;
    padding: 1rem;
  }
  .news-page__content-title {
    font-size: 2rem;
    line-height: 1.13;
  }
}

@media (max-width: 550px) {
  .news-page__item {
    max-width: 27.5rem;
    height: 24.8rem;
    margin: 0 auto 3rem;
  }
  .news-page__img {
    max-width: 27.5rem;
    height: 24.8rem;
    margin: 0 auto;
  }
  .news-page__content {
    max-height: 16.5rem;
    padding: 1rem;
  }
  .news-page__content-title {
    font-size: 1.5rem;
    max-width: 19rem;
  }
}

@media (max-width: 1050px) {
  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 2rem auto;
  }
  .header__search {
    margin-left: 8rem;
  }
}

@media (max-width: 600px) {
  .header__menu {
    display: none;
  }
  .header .burger__menu {
    display: block;
  }
  .header__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 2rem auto;
  }
  .header__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: var(--light_color);
    width: 101%;
    height: 100%;
    z-index: 2;
    padding-top: 10rem;
  }
  .header__menu.active .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
  .header__menu.active .header__menu-list li + li {
    margin-left: 0;
    margin-top: 1rem;
  }
  .burger__menu.active span:first-child {
    position: relative;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 36%;
  }
  .burger__menu.active span:last-child {
    position: relative;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -36%;
  }
  .burger__menu.active span:nth-child(2) {
    opacity: 0;
  }
}
