.about{
  padding: 2.5rem 0;
  &__img{
    float: right;
    margin-top: -5rem;
  }
  &__title{
    margin-bottom: 2rem;
    text-align-last: left;
  }
  &__desc{
    line-height:1.62;
    margin-bottom: 2rem;
  }
}

@media(max-width:1100px){
  .about{
    &__img{
      max-width: 40rem;
      max-height: 30rem;
    }
  }
}
@media(max-width:700px){
  .about{
    &__img{
      float: none;
      margin: -5rem auto 2rem;
    }
    &__title{
      max-width: 27.4rem;
      text-align: left;
    }
  }
}
@media(max-width:576px){
  .about{
    &__img{
      width: 30rem;
      height: 25rem;
    }
  }
}
