.news{
  padding-top: 1rem;
  margin-bottom:5rem;
  &__title{
    margin-bottom: 4.7rem;
  }
  &__list{
    @extend .flex-wrap;
    gap: 2.5rem;
  }
  &__list li{
    position: relative;
    max-width: 24.5rem;
    height: 30rem;
    transition: filter .2s linear;
    &:hover{
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    }
  }
  .big__item{
    max-width: 51.5rem;
  }
  &__img{
    border-radius: 3.5rem;
  }
  &__content-left,&__content-right{
    @extend .flex-column-jcsb;
    position: absolute;
    background: var(--bg-50_color);
    max-width: 24.5rem;
    height: 30rem;
    padding: 2.6rem 0.2rem;
    text-align: center;
    border-radius: 3.5rem;
  }
  &__content-right{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__content-left{
    position: absolute;
    top: 0;
    left: 0;
  }
  &__content-opacity{
    @extend .flex-column-jcsb;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 24.5rem;
    height: 30rem;
    padding: 3.4rem 1.5rem 2.5rem;
    text-align: center;
    color: var(--light_color);
  }
  &__content-title{
    font-size: 2rem;
    line-height: 1.3;
    text-align: center;
  }
  &__content-desc{
    font-size: 1.5rem;
    line-height: 1.33;
  }
  &__content-btn{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.33;
    padding: 0.3rem 4rem 0.2rem;
    max-width: 17.8rem;
    margin: 0 auto;
  }
}