:root{
  --text_color: #54412D;
  --accent_color: #F25D27;
  --bg-50_color:rgba(247, 234, 232, 0.5);
  --grey_color: #F2DCD8;
  --text-accent_color: #485B30;
  --bg-btn_color: #97BF6F;
  --light_color: #F7EAE8;
  --input-text_color: #C69D70;
}